svg {
    background: none !important;
}

section.generalClassName {
    display: flex;
    height: 100vh;

    .asideMaterial {
        width: 250px;
        border-right: 1px solid var(--light-borders-01);
        position: relative;
        background-color: var(--contrastColor-01);

        @media (max-width: 991px) {
            position: fixed;
            left: -100%;
            height: calc(100% - 60px);
            margin-top: 60px;
            z-index: 2;
            transition: .1s;
            width: 100%;
        }

        .logoBlanket {
            padding: 12px 17px;
            display: flex;
            margin-top: 8px;
            gap: 10px;

            @media (max-width: 991px) {
                justify-content: center;
            }

            --logo-name-icon-height: 30px;

            .logofk {
                width: var(--logo-name-icon-height);
                height: var(--logo-name-icon-height);
                background-image: linear-gradient(120deg, var(--light-borders-01), var(--light-borders-02));
                border-radius: 100%;
            }

            .logoname{
                font-family: var(--fml-oswald);
                height: var(--logo-name-icon-height);
                display: flex;
                font-size: 16px;
                text-transform: uppercase;
                letter-spacing: 2px;
                align-items: center;
                font-weight: 500;
            }
        }

        .navContainer {
            margin-top: 15px;
            
            .navlink {
                padding: 10px 20px;
                width: 100%;
                display: flex;
                font-size: 14px;
                font-weight: 700;
                text-decoration: none;
                color: var(--textColor-02);
                align-items: center;
                gap: 12px;

                svg {
                    width: 20px;
                    height: 20px;
                    margin-top: -1.40px;

                    path {
                        fill: var(--textColor-02);
                    }
                }
            }
        }

        .themeTransform {
            width: 100%;
            padding: 17px;
            position: absolute;
            bottom: 15px;
            left: 0;
            display: flex;
            gap: 10px;
            align-items: center;

            .leftIcon{
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 22px;
                    height: 22px;
                }
            }

            .middleText{
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: 700;
                width: calc(100% - 30px - 65px);
            }

            input {
                width: 40px;
                height: 22px;
                box-shadow: none;
                border: none;
                background-color: var(--theme-02);
                cursor: pointer;
                
                &:focus, &:active {
                    background-color: var(--theme-02);
                }

                &:checked {
                    background-color: var(--theme-01);
                }
            }
        }
    }

    @media (max-width: 991px) {   
        [data-navigation = true] {
            left: 0;
        }
        
        [data-navigation = false] {
            left: -100%;
        }
    }

    .bandRender {
        height: calc(100% - 60px);
        width: calc(100% - 250px);

        @media (max-width: 991px) {
            width: 100%;
        }

        .upperMenu {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid var(--light-borders-01);
            display: flex;
            align-items: center;

            .searchbar {
                display: flex;
                align-items: center;
                width: 100%;
                padding-left: 17px;
                height: 100%;

                .inputcontainer {
                    width: 60%;
                    height: 38px;
                    min-width: 40px;
                    max-width: 400px;
                    position: relative;

                    @media (max-width: 991px) {
                        width: calc(100% - 15px);
                    }

                    @media (max-width: 480px) {
                        width: 40px;
                        z-index: 1;
                    }

                    .searchicon {
                        width: 40px;
                        height: 38px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: transparent;

                        svg {
                            width: 24px;
                            height: 24px;
                            stroke: var(--light-borders-03);
                        }
                    }

                    .searchbarinput {
                        padding-left: 40px;
                        padding-right: 55px;
                        border-radius: 4px;
                        width: 100%;
                        height: 100%;
                        border: 1px solid var(--light-borders-01);
                        font-size: 14px;
                        font-weight: 500;
                        color: var(--textColor-01);
                        transition: .2s;
                        background-color: var(--contrastColor-01);

                        &:focus {
                            outline: 1px solid var(--theme-02);
                        }

                        @media (max-width: 480px) {   
                            &:focus {
                                width: calc(100vw - 32px);
                                border: 1px solid var(--light-borders-01);
                            }
                        }

                        @media (max-width: 480px) {
                            padding-right: 0;
                            border: 0;
                        }
                    }

                    .keyway {
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 55px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        background-color: transparent;
                        justify-content: center;
                        color: var(--contrastColor-01);
                        
                        @media (max-width: 480px) {
                            display: none;
                        }

                        .keyalt{
                            display: flex;
                            line-height: 100%;
                            background-color: var(--light-borders-01);
                            padding: 2px 8px;
                            border: 1px solid var(--light-borders-02);
                            border-radius: 4px;
                            gap: 5px;

                            .controllIcon {
                                svg {
                                    width: 12px;
                                    height: 12px;
                                    fill: var(--textColor-01);
                                }
                            }

                            .tstx {
                                font-size: 13.5px;
                                font-weight: 800;
                                list-style: 0;
                                margin-top: 0px;
                            }
                        }

                    }
                }
            }            

            .useroptions {
                width: max-content;
                padding-right: 17px;
                display: flex;
                gap: 20px;
                align-items: center;

                .notifications {
                    background-color: transparent;
                    border: none;
                    width: 36px;
                    height: 36px;
                    transition: .2s;
                    border-radius: 5px;

                    &:active {
                        transition: .06s;
                        background-color: var(--light-borders-02);
                        transform: scale(.94);
                    }
                    
                    svg {
                        width: 26px;
                        height: 26px;
                        stroke: var(--light-borders-03);
                    }

                    &[data-notification-status='true'] {
                        &:after {
                            content: '';
                            width: 6px;
                            height: 6px;
                            border-radius: 100%;
                            background-color: var(--theme-01);
                            position: absolute;
                            top: 8px;
                            right: 5px;
                        }
                    }
                }

                [data-notifications]{
                    border-radius: 0;
                    width: 500px;
                    height: max-content;
                    max-height: 80vh;
                    overflow-y: scroll;
                    background-color: var(--contrastColor-01);
                    border: 1px solid var(--light-borders-02);

                    @media (max-width: 732px) {
                        width: 100vw;
                        margin-top: 9px !important;
                        height: calc(100vh - 60px) !important;
                        max-height: unset;
                    }

                    .blockTitle{
                        font-size: 18px;
                        padding: 0 24px;
                        font-weight: 800;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }

                    .notificationitem {
                        display: flex;
                        gap: 10px;
                        padding: 10px 24px;

                        &:hover {
                            background-color: var(--light-borders-02);
                            cursor: pointer;
                            
                            * {
                                background-color: transparent;
                            }
                        }

                        &[data-new] {
                            background-color: var(--light-borders-01);
                            
                            * {
                                background-color: transparent;
                            }
                        }

                        .iconstatus{
                            width: 35px;
                            height: 35px;
                            background-color: var(--theme-02);
                            border-radius: 100%;
                        }

                        .notificationtxt {
                            width: calc(100% - 50px);

                            .title {
                                font-size: 14px;
                                font-weight: 700;
                                color: var(--textColor-01);
                            }

                            .desc {
                                font-size: 13px;
                                margin-top: 2px;
                                font-weight: 500;
                                color: var(--textColor-01);
                            }
                        }
                    }
                }

                .userprofileitens{
                    display: flex;
                    gap: 10px;
                    padding: 5px;
                    border-radius: 5px;
                    align-items: center;
                    width: max-content;
                    cursor: pointer;
                    transition: .2s;

                    @media (max-width: 500px) {
                        gap: 5px;
                    }
                    
                    &:hover{
                        background-color: var(--light-borders-01);
                        
                        * {
                            background-color: transparent;
                        }
                    }
                    
                    &:active {
                        transition: .06s;
                        background-color: var(--light-borders-02);
                        transform: scale(.94);
                    }

                    .photo {
                        width: 35px;
                        height: 35px;
                        border-radius: 100%;
                        background-color: var(--light-borders-02);
                        overflow: hidden;
                        
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .info {
                        line-height: 110%;
                        background-color: transparent;

                        .name {
                            font-size: 15px;
                            font-weight: 600;
                        }

                        .role {
                            font-size: 13px;
                            font-weight: 500;
                        }

                        @media (max-width: 600px) {
                            display: none;
                        }
                    }
                }

                [data-user-dropdown] {
                    padding: 6px 0;   
                    border-radius: 0; 
                    border: 1px solid var(--light-borders-02);
                    background-color: var(--contrastColor-01);

                    .centerprofile {
                        width: 100%;
                        display: none;

                        @media (max-width: 600px) {
                            display: block;
                        }

                        .photoc {
                            width: 50px;
                            height: 50px;
                            background-color: var(--light-borders-01);
                            border-radius: 100%;
                            left: 0;
                            right: 0;
                            margin: auto;
                            margin-top: 15px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }

                            overflow: hidden;
                        }

                        .name {
                            width: 100%;
                            text-align: center;
                            font-size: 15px;
                            font-weight: 600;
                            color: var(--textColor-01);
                            margin-top: 10px;
                        }

                        .role { 
                            width: 100%;
                            text-align: center;
                            font-size: 13px;
                            font-weight: 600;
                            color: var(--textColor-02);
                            margin-bottom: 12px;
                        }
                    }

                    ul {
                        padding: 0;
                        margin: 0;
                        width: max-content;
                        background-color: var(--contrastColor-01);

                        li {
                            list-style-type: none;

                            a {
                                padding: 10px 20px;
                                font-size: 14px;
                                font-weight: 600;
                                color: var(--textColor-01);
                                text-decoration: none;
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                line-height: 100%;

                                &:hover, &:hover * {
                                    background-color: var(--light-borders-01);
                                }
                                
                                &:active, &:active * {
                                    background-color: var(--light-borders-02);
                                }

                                svg {
                                    width: 20px;
                                    height: 20px;

                                    path {
                                        fill: var(--textColor-01);
                                    }
                                }
                            }
                        }
                    }
                }

                .mobilemenu {
                    display: none;

                    @media (max-width: 991px) {
                        display: block;
                    }

                    padding: 0;
                    border-radius: 5px;
                    margin: 0;
                    border: none;
                    outline: none;
                    width: 38px;
                    height: 38px;

                    svg {
                        width: 26px;
                        height: 26px;

                        path {
                            fill: var(--textColor-01);
                        }
                    }

                    &:active {
                        svg {
                            path {
                                fill: var(--theme-01);
                            }
                        }

                        background-color: var(--theme-02);
                    }
                }
            }
        }

        .pageContent {
            height: 100%;
            width: 100%;
            padding: 17px;
            overflow-y: scroll;
        }
    }
}

[aria-current="page"] {
    color: var(--theme-01) !important;

    svg {
        path {
            fill: var(--theme-01) !important;
        }
    }

    &::after {
        content: '';
        width: 3px;
        height: 30px;
        background-color: var(--theme-01);
        position: absolute;
        left: 1px;
    }
}