.headercontainer {
  display: flex;
  gap: 20px;
}
@media (max-width: 445px) {
  .headercontainer {
    display: block;
  }
}
.headercontainer .introtitle {
  width: 100%;
}
@media (max-width: 445px) {
  .headercontainer .introtitle {
    margin-bottom: 20px;
  }
}
.headercontainer .introtitle .dashtitle {
  font-size: 24px;
  font-weight: 800;
}
.headercontainer .introtitle .dashdescr {
  font-size: 14px;
  font-weight: 500;
  color: var(--textColor-02);
}
.headercontainer .controls {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  gap: 10px;
  display: inline-flex;
}
.headercontainer .controls button {
  height: -moz-min-content;
  height: min-content;
  padding: 4px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--light-borders-02);
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  gap: 5px;
  transition: 0.2s;
}
.headercontainer .controls button svg {
  width: 22px;
  height: 22px;
}
.headercontainer .controls button svg path {
  fill: var(--textColor-02);
}
.headercontainer .controls button.exports {
  background-color: var(--theme-01);
  color: var(--contrastColor-01);
  font-weight: 700;
}
.headercontainer .controls button.exports svg {
  width: 20px;
  height: 20px;
}
.headercontainer .controls button.exports svg path {
  fill: var(--contrastColor-01);
}
.headercontainer .controls button:active {
  transition: 0.08s;
  transform: scale(0.97);
}

.dashboard {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
  --leftBlockWidth: 550px;
}
@media (max-width: 991px) {
  .dashboard {
    display: block;
  }
}
@media (max-width: 991px) {
  .dashboard {
    --leftBlockWidth: 100%;
  }
}
.dashboard .leftDivRow {
  display: inline-block;
  width: var(--leftBlockWidth);
  font-size: 0;
}
.dashboard .leftDivRow .lrBlock {
  width: 50%;
  height: 170px;
  display: inline-block;
  padding-right: 10px;
  font-size: auto;
}
@media (max-width: 461px) {
  .dashboard .leftDivRow .lrBlock {
    width: 100%;
    padding-right: 0;
  }
}
.dashboard .leftDivRow .lrBlock:first-child {
  margin-bottom: 20px;
}
@media (max-width: 461px) {
  .dashboard .leftDivRow .lrBlock:first-child {
    padding: 0;
    margin: 0;
  }
}
.dashboard .leftDivRow .lrBlock:nth-child(even) {
  padding-right: 0;
  padding-left: 10px;
}
@media (max-width: 461px) {
  .dashboard .leftDivRow .lrBlock:nth-child(even) {
    padding-right: 0;
    padding-left: 0;
    margin: 0;
  }
}
.dashboard .leftDivRow .lrBlock .boxchart {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-borders-02);
  border-radius: 5px;
  overflow: hidden;
}
@media (max-width: 461px) {
  .dashboard .leftDivRow .lrBlock .boxchart {
    margin-bottom: 20px;
  }
}
.dashboard .leftDivRow .lrBlock .boxchart .barTop {
  width: 100%;
  height: 40px;
  display: flex;
  gap: 10px;
  padding: 0 14px;
}
.dashboard .leftDivRow .lrBlock .boxchart .barTop .mainTitle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  color: var(--textColor-04);
  font-size: 15px;
  font-weight: 600;
}
.dashboard .leftDivRow .lrBlock .boxchart .barTop .rightIcon {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard .leftDivRow .lrBlock .boxchart .barTop .rightIcon svg {
  width: 24px;
  height: 24px;
}
.dashboard .leftDivRow .lrBlock .boxchart .barTop .rightIcon svg path {
  fill: var(--light-borders-03);
}
.dashboard .leftDivRow .lrBlock .boxchart .middleInfor {
  height: calc(100% - 74px);
  display: flex;
  align-items: center;
  padding: 0 17px;
  margin-top: -6px;
}
.dashboard .leftDivRow .lrBlock .boxchart .middleInfor .balance {
  font-family: var(--fml-oswald);
  font-size: 22px;
  font-weight: 600;
}
.dashboard .leftDivRow .lrBlock .boxchart .middleInfor .balance .moneyType {
  font-family: var(--fml-oswald);
  opacity: 60%;
  color: var(--theme-01);
  margin-right: 4px;
}
.dashboard .leftDivRow .lrBlock .boxchart .middleInfor .details {
  margin-top: 4px;
  display: flex;
  gap: 10px;
  font-size: 12px;
}
.dashboard .leftDivRow .lrBlock .boxchart .middleInfor .details .increase {
  font-weight: 600;
  line-height: 100%;
}
.dashboard .leftDivRow .lrBlock .boxchart .middleInfor .details .increase[data-status=down] {
  color: var(--downArrow);
}
.dashboard .leftDivRow .lrBlock .boxchart .middleInfor .details .increase[data-status=up] {
  color: var(--upArrow);
}
.dashboard .leftDivRow .lrBlock .boxchart .middleInfor .details .increase svg {
  width: 14px;
  height: 14px;
  margin-top: -4px;
  margin-right: 4px;
}
.dashboard .leftDivRow .lrBlock .boxchart .middleInfor .details .valueable {
  font-family: var(--fml-oswald);
  font-size: 15px;
}
.dashboard .leftDivRow .lrBlock .boxchart .middleInfor .details .strategy {
  line-height: 100%;
  color: var(--textColor-01);
  font-family: var(--fml-oswald);
  font-size: 14px;
  font-weight: 500;
}
.dashboard .leftDivRow .lrBlock .boxchart .middleInfor .details .strategy .monthly {
  color: var(--textColor-02);
  font-weight: 600;
  font-size: 12px;
  margin-left: 3px;
}
.dashboard .leftDivRow .lrBlock .boxchart .viewReport {
  width: 100%;
  height: 40px;
  background-color: var(--light-borders-01);
  display: flex;
  gap: 10px;
  width: 100%;
  height: 40px;
  display: flex;
  gap: 10px;
  padding: 0 14px;
}
.dashboard .leftDivRow .lrBlock .boxchart .viewReport .mainTitle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  color: var(--textColor-04);
  font-size: 12px;
  font-weight: 600;
  background-color: transparent;
}
.dashboard .leftDivRow .lrBlock .boxchart .viewReport .rightIcon {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.dashboard .leftDivRow .lrBlock .boxchart .viewReport .rightIcon svg {
  width: 24px;
  height: 24px;
}
.dashboard .leftDivRow .lrBlock .boxchart .viewReport .rightIcon svg path {
  fill: var(--light-borders-03);
}
.dashboard .rightDivRow {
  width: calc(100% - var(--leftBlockWidth));
  border-radius: 5px;
  border: 1px solid var(--light-borders-02);
  padding: 20px;
}
@media (max-width: 991px) {
  .dashboard .rightDivRow {
    width: 100%;
    margin-top: 20px;
  }
}
.dashboard .rightDivRow .masuretitle {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 8px;
}
.dashboard .rightDivRow .lineEnsure {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
@media (max-width: 445px) {
  .dashboard .rightDivRow .lineEnsure {
    display: block;
    margin-top: 20px;
  }
}
.dashboard .rightDivRow .lineEnsure .lftMoney {
  width: 100%;
  font-size: 24px;
  gap: 5px;
  display: flex;
  font-weight: 400;
  align-items: center;
}
.dashboard .rightDivRow .lineEnsure .lftMoney .money {
  color: var(--theme-01);
  font-family: var(--fml-oswald);
}
.dashboard .rightDivRow .lineEnsure .lftMoney .number {
  font-family: var(--fml-oswald);
  font-weight: 600;
}
.dashboard .rightDivRow .lineEnsure .lftMoney .increase {
  font-weight: 600;
  line-height: 100%;
  font-size: 14px;
  margin-left: 10px;
}
.dashboard .rightDivRow .lineEnsure .lftMoney .increase .valueable {
  font-family: var(--fml-oswald);
}
.dashboard .rightDivRow .lineEnsure .lftMoney .increase[data-status=down] {
  color: var(--downArrow);
}
.dashboard .rightDivRow .lineEnsure .lftMoney .increase[data-status=up] {
  color: var(--upArrow);
}
.dashboard .rightDivRow .lineEnsure .lftMoney .increase svg {
  width: 12px;
  height: 12px;
  margin-top: -4px;
  margin-right: 4px;
}
.dashboard .rightDivRow .lineEnsure .bundleSignal {
  display: flex;
  gap: 15px;
}
.dashboard .rightDivRow .lineEnsure .bundleSignal .signal {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}
.dashboard .rightDivRow .lineEnsure .bundleSignal .signal[data-fill=true]::before {
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 100%;
  background-color: var(--theme-01);
}
.dashboard .rightDivRow .lineEnsure .bundleSignal .signal[data-fill=false]::before {
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 100%;
  background-color: var(--theme-01);
  opacity: 40%;
}

.activities {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}
@media (max-width: 991px) {
  .activities {
    display: block;
  }
}
.activities .lfblock {
  width: calc(100% - 350px);
  padding: 20px;
  border: 1px solid var(--light-borders-02);
  border-radius: 5px;
}
@media (max-width: 991px) {
  .activities .lfblock {
    width: 100%;
  }
}
.activities .lfblock .topbar {
  display: flex;
  align-items: center;
}
.activities .lfblock .topbar .title {
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  color: var(--textColor-01);
}
.activities .lfblock .topbar .select select {
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  color: var(--textColor-01);
  border: 1px solid var(--light-borders-02);
  background-color: transparent;
}
.activities .lfblock .tablecontent {
  margin-top: 30px;
}
@media (max-width: 640px) {
  .activities .lfblock .tablecontent {
    overflow-x: scroll;
  }
}
.activities .lfblock .tablecontent table {
  width: 100%;
}
@media (max-width: 640px) {
  .activities .lfblock .tablecontent table {
    width: 100%;
  }
}
.activities .lfblock .tablecontent table thead tr td {
  color: var(--textColor-02);
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
}
.activities .lfblock .tablecontent table tbody tr {
  border-top: 1px solid var(--light-borders-01);
}
.activities .lfblock .tablecontent table tbody tr td {
  padding: 10px;
}
.activities .lfblock .tablecontent table tbody tr td.user {
  display: flex;
  gap: 10px;
  align-items: center;
}
.activities .lfblock .tablecontent table tbody tr td.user .photo {
  width: 35px;
  height: 35px;
  background-color: var(--light-borders-02);
  border-radius: 100%;
}
.activities .lfblock .tablecontent table tbody tr td.user .infos {
  line-height: 110%;
}
.activities .lfblock .tablecontent table tbody tr td.user .infos .name {
  font-size: 14px;
  font-weight: 600;
  color: var(--textColor-01);
}
.activities .lfblock .tablecontent table tbody tr td.user .infos .email {
  font-size: 13px;
  font-weight: 500;
  color: var(--textColor-04);
}
.activities .lfblock .tablecontent table tbody tr td .status {
  font-size: 14px;
  background-color: var(--upArrow);
  color: var(--contrastColor-01);
  font-size: 13px;
  font-weight: 700;
  padding: 2px 8px;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
}
.activities .lfblock .tablecontent table tbody tr td.ident {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: var(--fml-oswald);
  width: -moz-max-content;
  width: max-content;
}
.activities .lfblock .tablecontent table tbody tr td.ident .ident_money {
  color: var(--theme-01);
  font-family: var(--fml-oswald);
}
.activities .lfblock .tablecontent table tbody tr td.marker:after {
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 100%;
  border: 1px solid var(--light-borders-02);
}
.activities .lfblock .tablecontent table tbody tr td.marker[data-sponser=bad]:after {
  background-color: var(--downArrow);
}
.activities .lfblock .tablecontent table tbody tr td.marker[data-sponser=normal]:after {
  background-color: var(--middleArrow);
}
.activities .lfblock .tablecontent table tbody tr td.marker[data-sponser=good]:after {
  background-color: var(--upArrow);
}
.activities .rtblock {
  width: 350px;
  padding: 20px;
  border: 1px solid var(--light-borders-02);
  border-radius: 5px;
}
@media (max-width: 991px) {
  .activities .rtblock {
    width: 100%;
    margin-top: 20px;
  }
}
.activities .rtblock .topbar {
  display: flex;
  align-items: center;
}
.activities .rtblock .topbar .title {
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  color: var(--textColor-01);
}
.activities .rtblock .topbar .select select {
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  color: var(--textColor-01);
  border: 1px solid var(--light-borders-02);
  background-color: transparent;
}
.activities .rtblock .donutchart {
  width: 200px;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 20px;
}
.activities .rtblock .donutchart canvas {
  width: 100%;
}
.activities .rtblock .singnalsstructure {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}
.activities .rtblock .singnalsstructure .struct {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}
.activities .rtblock .singnalsstructure .struct:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: block;
}
.activities .rtblock .singnalsstructure .struct[data-color="0"]:before {
  background-color: rgb(37, 0, 75);
}
.activities .rtblock .singnalsstructure .struct[data-color="1"]:before {
  background-color: rgba(103, 16, 189, 0.8);
}
.activities .rtblock .singnalsstructure .struct[data-color="2"]:before {
  background-color: rgba(103, 16, 189, 0.3);
}/*# sourceMappingURL=Dashboard.module.css.map */